@media screen and (min-width: 992px) {
  .title5 {
    margin-bottom: 24px;

    width: 390px;
    /* height: 100px; */

    font-family: "Satoshi";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    /* or 50px */

    /* Brand/Dark */

    color: #043344;
  }
  .tick {
    color: #ec9a2b;
    margin-right: 17px;
    font-size: 24px;
  }
  .img-size5 {
    width: 91%;
    position: relative;
    /* top: 65px; */
    left: 65px;
  }
  .img-size5-mbl {
    display: none;
  }
  .descrypt5 {
    width: 448px;
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: #1a938a;
  }
  .lists {
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 125%;
    color: #205260;
    list-style: none !important;
    margin-bottom: 10px;
  }
  .text-shape {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 148px;
  }
  .list-ul5 {
    width: 515px;
    padding: 0px;
  }
  .bullets {
    display: flex;
  }
 
  .list-ul5-mbl {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .title5 {
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    color: #043344;
    /* text-align: left; */
    width: 285px;
    margin-bottom: 0px;
  }
  .tick {
    color: #ec9a2b;
    margin-right: 17px;
    font-size: 24px;
  }
  .img-size5 {
    display: none;
  }
  .img-size5-mbl {
    width: 100%;
  }
  .descrypt5 {
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #1a938a;
    /* width: 348px; */
    margin: 32px auto;
  }
  .lists {
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 125%;
    color: #205260;
    list-style: none !important;
    margin-bottom: 10px;
  }
  .text-shape {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .list-ul5-mbl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 15px;
    padding: 0px;
  }
  .bullets {
    display: flex;
  }
 
  .list-ul5 {
    display: none;
  }
  .mbl5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
