@media screen and (min-width: 993px) {
  .Green-HeightFirst {
    height: 365px;
    width: 100%;
    background: #1a938a;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Green {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .titleFirst {
    width: 900px;
    /* height: 54px; */
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 135.5%;
    text-align: center;
    color: #ffffff;
    margin-bottom: 24px;
  }
  .descryptfirst {
    width: 1000px;
    /* height: 64px; */
    margin-top: 0px;

    font-family: "Satoshi";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180.5%;
    text-align: center;
    color: #ffffff;
  }
}
@media screen and (max-width: 992px) {
  .Green-HeightFirst {
    width: 100%;
    background: #1a938a;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Green {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .titleFirst {
    width: 100%;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 135.5%;
    text-align: center;
    color: #FFFFFF;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
    margin-bottom: 16px;
     
  }
  .descryptfirst {
    width: 100%;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 180.5%;    
    text-align: center;    
    color: #FFFFFF;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 60px;
  }
}