@media screen and (min-width: 992px) {
    .title3 {
      width: 500px;
      font-family: 'Satoshi';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 125%;
      color: #043344;
      margin-bottom: 0px;
      /* height: 100px; */
    }
    .title32 {
      width: 100%;
      font-family: 'Satoshi';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 125%;
      color: #043344;
      margin-bottom: 24px;
      /* height: 100px; */
      margin-top: 0px;
    }
    .tick{
        color: #ec9a2b;
    margin-right: 17px;
    font-size: 24px;}

    .descrypt3 {
      font-family: "Satoshi";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 125%;
      color: #1a938a;
      text-align: left;
      width: 448px;
      
      
    }
    .lists {
      font-family: "Satoshi";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 125%;
      color: #205260;
      list-style: none !important;
      margin-bottom: 10px;
  
    }
    .text-shape3 {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 75px;
    }
    .list-ul3 {
      width: 535px;
      padding: 0px;
    }
    .bullets{
      display: flex;
    }
    .img-size3{
      width: 98%;
      margin-left: 60px;
    }
    .img-size3-mbl{
      display: none;
    }
    .desk3{
      display: none;
    }
  }

  @media screen and (max-width: 992px) {
    .title3 {
     font-family: "Satoshi";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    color: #043344;
    /* text-align: left; */
    width: 255px;
    }
    .tick{
      color: #ec9a2b;
      margin-right: 17px;
      font-size: 24px;
    }
   
    .descrypt3 {
      font-family: "Satoshi";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #1a938a;
    /* text-align: left; */
    /* width: 348px; */
      
      
    }
    .lists {
      font-family: "Satoshi";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 125%;
      color: #205260;
      list-style: none !important;
      margin-bottom: 10px;
  
    }
    .text-shape {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .list-ul3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0px 15px;
      padding: 0px;
    }
    
   
    .bullets{
      display: flex;
    }
    .img-size3{
      display: none;
    }
    .img-size3-mbl{
      width: 100%;
    }
    .mbl3 {
    
      display: none;
    }
    .desk3{
       display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center; 
    }
  }
  
  